<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatisown.school.dao.StudentMapper">
  <cache type="org.mybatis.caches.redis.RedisCache" />
  <resultMap id="BaseResultMap" type="mybatisown.school.bean.Student">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="age" jdbcType="TINYINT" property="age" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <association property="schoolclass"
    select="mybatisown.school.dao.SchoolclassMapper.selectByPrimaryKey"
    column="schoolclassid"/>

    <association property="address"
    select="mybatisown.school.dao.AddressMapper.selectByPrimaryKey"
    column="addressid"/>
  </resultMap>

  <!--鉴别器的使用-->
  <resultMap id="BaseResultMap1" type="mybatisown.school.bean.Student">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="age" jdbcType="TINYINT" property="age" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <discriminator javaType="string" column="sex">
      <case value="男" resultType="mybatisown.school.bean.Student">
        <association property="schoolclass"
                     select="mybatisown.school.dao.SchoolclassMapper.selectByPrimaryKey"
                     column="schoolclassid"/>
      </case>
      <case value="女" resultType="mybatisown.school.bean.Student">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="age" jdbcType="TINYINT" property="age" />
        <result column="age" jdbcType="VARCHAR" property="sex" />
      </case>
    </discriminator>
  </resultMap>

  <resultMap id="BaseResultMap2" type="mybatisown.school.bean.Student" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="age" property="age" jdbcType="TINYINT" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
    <association property="address" javaType="mybatisown.school.bean.Address">
      <result column="province" property="province"  />
      <result column="city" property="city" />
      <result column="area" property="area" />
      <result column="phone" property="phone" />
    </association>
    <association property="schoolclass" javaType="mybatisown.school.bean.SchoolClass">
      <result column="classname" property="classname" />
      <result column="studentsnum" property="studentsnum"  />
    </association>
  </resultMap>

  <select id="selectByPrimaryKey2" resultMap="BaseResultMap2">
    select
      a.id, name, age, sex,
      b.classname, b.studentsnum studentnum,
      c.province, c.city, c.area, c.phone
    from student a
      inner join schoolclass b
        on a.schoolclassid=b.id
      inner join address c
        on a.addressid=c.id
    where a.id = #{id,jdbcType=INTEGER}
  </select>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    id, name, age, sex, schoolclassid, addressid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    select 
    <include refid="Base_Column_List" />
    from student
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    delete from student
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="mybatisown.school.bean.Student">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    insert into student (id, name, age, 
      sex, schoolclassid, addressid
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{age,jdbcType=TINYINT}, 
      #{sex,jdbcType=VARCHAR}, #{schoolclassid,jdbcType=INTEGER}, #{addressid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="mybatisown.school.bean.Student">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    insert into student
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="age != null">
        age,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="schoolclassid != null">
        schoolclassid,
      </if>
      <if test="addressid != null">
        addressid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        #{age,jdbcType=TINYINT},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="schoolclassid != null">
        #{schoolclassid,jdbcType=INTEGER},
      </if>
      <if test="addressid != null">
        #{addressid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="mybatisown.school.bean.Student">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update student
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        age = #{age,jdbcType=TINYINT},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="schoolclassid != null">
        schoolclassid = #{schoolclassid,jdbcType=INTEGER},
      </if>
      <if test="addressid != null">
        addressid = #{addressid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="mybatisown.school.bean.Student">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update student
    set name = #{name,jdbcType=VARCHAR},
      age = #{age,jdbcType=TINYINT},
      sex = #{sex,jdbcType=VARCHAR},
      schoolclassid = #{schoolclassid,jdbcType=INTEGER},
      addressid = #{addressid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

    <select id="selectAllStudentStep" resultType="mybatisown.school.bean.Student">
      select * from student
    </select>
</mapper>